* {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.title {
  visibility: hidden;
}
.header {
  background-image: url("../images/Rick-and-Morty.png");
  background-position: center;
  width: 100%;
  height: 39vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn {
  font-size: 16px;
  width: 60px;
  background-color: rgb(187, 250, 92);
}

.section {
  font-size: 20px;
  margin-bottom: 40px;
  &__form {
    display: flex;
    justify-content: space-around;
    padding-right: 400px;
    padding-left: 400px;
    flex-direction: row;
    align-items: center;
    &--name {
      margin: 10px;
      font-size: 10px;
    }
  }
}
.card {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.card__text {
  gap: 10px;
  text-align: center;
  border: rgba(40, 186, 196, 0.625) solid 5px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 320px;
}

.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 420px;
  width: 30%;
  height: 60vh;
  gap: 20px;
  font-size: 17px;
  &__div {
    justify-content: center;
    text-align: center;
    border: rgba(40, 186, 196, 0.625) solid 5px;
  }
}

.inputName {
  font-size: 16px;
}

.selectSpecies {
  font-size: 16px;
}
